<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Zemez_Contact::list" title="Contact Enquires" translate="title" module="Zemez_Contact" sortOrder="100" parent="Magento_Customer::customer" action="zcontact" resource="Zemez_Contact::zcontact"/>
    </menu>
</config>
