<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
  <system>
    <section id="payment">
      <group id="cryozonic_stripeexpress" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
        <label>Stripe Express by Cryozonic</label>
        <field id="cart_button" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Cart Express Checkout</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="product_button" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Product Express Checkout</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="minicart" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Minicart</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="ccsave" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Save Customer Cards</label>
          <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
        </field>
        <field id="button_type" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Button Type</label>
          <source_model>Cryozonic\StripeExpress\Model\Adminhtml\Source\ButtonType</source_model>
        </field>
        <field id="button_theme" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Button Theme</label>
          <source_model>Cryozonic\StripeExpress\Model\Adminhtml\Source\ButtonTheme</source_model>
        </field>
        <field id="button_height" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
          <label>Button Height</label>
        </field>
     </group>
   </section>
 </system>
</config>
