<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <cryozonic_stripeexpress>
                <model>StripeExpressFacade</model>
                <cart_button>1</cart_button>
                <product_button>1</product_button>
                <minicart>1</minicart>
                <ccsave>1</ccsave>
                <button_type>default</button_type>
                <button_theme>dark</button_theme>
                <button_height>50</button_height>
            </cryozonic_stripeexpress>
        </payment>
    </default>
</config>
