<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <newsletter>
            <subscription>
                <admin_email_sender>general</admin_email_sender>
                <admin_email_receiver>support</admin_email_receiver>
                <admin_email_template>newsletter_subscription_admin_email_template</admin_email_template>
            </subscription>
        </newsletter>
    </default>
</config>
